{% if standings and "Rankings" in currentSport %}
	<table class="standings">
		{% for poll in standings %}
			{% if poll != null %}
			{% if currentDivision === poll.name %}
				<tr class="league-separator">
					<td colspan="2"><span>{{currentSport.slice(0, 5)}} {{poll.name}}</span></td>
				<td class="dataCell">Overall</td><td class="dataCell">PTS</td>
				</tr>
				{% for tm in poll.ranks %}
					{% if tm.current <= config.rankingLength %}
						<tr>
							{% if config.showLogos === true %}
								<td class="logo" align="center" valign="middle"><img src="{{tm.team.logos[0].href}}"/></td>
							{% else %}
								<td></td>
							{% endif %}
							{% if config.nameStyle === "short" %}
								<td class="nameCell">{{tm.team.nickname}}<div class="rank">{{tm.current}}</div></td>
							{% elseif config.nameStyle === "full" %}
								<td class="nameCell">{{tm.team.nickname}} {{tm.team.name}}<div class="rank">{{tm.current}}</div></td>
							{% elseif config.nameStyle === "abbreviation" %}
								<td class="nameCell">{{tm.team.abbreviation}}<div class="rank">{{tm.current}}</div></td>
							{% endif %}
							<td class="dataCell">{{tm.recordSummary}}</td>
							<td class="dataCell">{{tm.points}}</td>
						</tr>
					{% endif %}
				{% endfor %}
			{% endif %}
			{% endif %}
		{% endfor %}
	</table>
{% elseif standings %}
	<table class="standings">
		{% for division in standings %}
			{% if division != null %}
			{% if config.showByDivision === false or (config.showByDivision and currentDivision === division.name) or ignoreDivision === true %}
				<tr class="league-separator">
					<td colspan="2"><span>{% if division.shortName !== undefined %}{% if "NCAA" in currentSport %}{{currentSport}} - {% endif %}{{division.shortName}}{% else %}{{division.name}}{% endif %}</span></td>
				{% if currentSport === "NHL" %}
					<td class="dataCell">W</td><td class="dataCell">L</td><td class="dataCell">OTL</td><td class="dataCell bold">PTS</td>
				{% elseif currentSport === "MLB" %}
					<td class="dataCell">W</td><td class="dataCell">L</td><td class="dataCell">GB</td>
				{% elseif currentSport === "NBA" %}
					<td class="dataCell">W</td><td class="dataCell">L</td><td class="dataCell">GB</td>
				{% elseif currentSport === "NFL" %}
					<td class="dataCell">W</td><td class="dataCell">L</td><td class="dataCell">T</td>
				{% elseif currentSport === "MLS" %}
					<td class="dataCell">W</td><td class="dataCell">T</td><td class="dataCell">L</td><td class="dataCell bold">PTS</td>
				{% elseif currentSport === "NCAAF" %}
					<td class="dataCell">Conf</td><td class="dataCell">Overall</td>
				{% elseif currentSport === "NCAAM" %}
					<td class="dataCell">Conf</td><td class="dataCell">Overall</td>
				{% else %}
					<td class="dataCell">W</td><td class="dataCell">T</td><td class="dataCell">L</td><td class="dataCell bold">PTS</td>
				{% endif %}
				</tr>
				{% for tm in division.standings.entries %}
					<tr>
						{% if config.showLogos === true %}
							<td class="logo" align="center" valign="middle"><img src="{{tm.team.logos[0].href}}"/></td>
						{% else %}
							<td></td>
						{% endif %}
						{% if config.nameStyle === "short" %}
							<td class="nameCell">{{tm.team.shortDisplayName}}</td>
						{% elseif config.nameStyle === "full" %}
							<td class="nameCell">{{tm.team.displayName}}</td>
						{% elseif config.nameStyle === "abbreviation" %}
							<td class="nameCell">{{tm.team.abbreviation}}</td>
						{% endif %}
						{% for stat in tm.stats %}
							{% if stat.name === "points" %}
								<td class="dataCell bold">{{stat.value}}</td>
							{% else %}
								<td class="dataCell">{{stat.value}}</td>
							{% endif %}
						{% endfor %}
					</tr>
				{% endfor %}
			{% endif %}
			{% endif %}
		{% endfor %}
	</table>
{% else %}
	<div class="dimmed light small">
		{{ "Loading MyStandings..." | translate | safe }}
	</div>
{% endif %}
