{% if standings and "Rankings" in currentSport %}
	<table class="standings {% if config.colored === false %}grayscale{% endif %}">
		{% for poll in standings %}
			{% if poll != null %}
			{% if config.showByDivision === false or (config.showByDivision and currentDivision === poll.name) %}
				<tr class="league-separator">
					<td colspan="2"><span>{{poll.shortName}}</span></td>
				<td class="dataCell">Overall</td><td class="dataCell">PTS</td>
				</tr>
				{% for tm in poll.ranks %}
					{% if tm.current <= config.rankingLength %}
						<tr>
							{% if config.showLogos === true %}
								<td class="logo" align="center" valign="middle"><img src="{{tm.team.logos[0].href}}"/></td>
								<td class="nameCell">
							{% else %}
								<td></td>
								<td class="nameCell nameCellNoLogo">
							{% endif %}
							<div class="rank">{{tm.current}}</div>
							{% if config.nameStyle === "full" %}
								{{tm.team.nickname}} {{tm.team.name}}</td>
							{% elseif config.nameStyle === "abbreviation" %}
								{{tm.team.abbreviation}}</td>
							{% else %}
								{{tm.team.nickname}}</td>
							{% endif %}
							<td class="dataCell">{{tm.recordSummary}}</td>
							<td class="dataCell">{{tm.points}}</td>
						</tr>
					{% endif %}
				{% endfor %}
			{% endif %}
			{% endif %}
		{% endfor %}
	</table>
{% elseif standings %}
	{% set somethingToDisplay = 0 %}
	<table class="standings {% if config.colored === false %}grayscale{% endif %}">
	{% for division in standings %}
		{% if division != null %}
		{% if config.showByDivision === false or (config.showByDivision and currentDivision === division.name) or ignoreDivision === true %}
			{% set somethingToDisplay = 1 %}
			<tr class="league-separator">
				<td colspan="2"><span>{{division.shortName}}</span></td>
			{% if currentSport === "NHL" or currentSport === "NHL_PLAYOFFS" %}
				<td class="dataCell">W</td><td class="dataCell">L</td><td class="dataCell">OTL</td><td class="dataCell bold">PTS</td>
			{% elseif currentSport === "MLB" or currentSport === "MLB_PLAYOFFS" or currentSport === "MLB_WILDCARD" %}
				<td class="dataCell">W</td><td class="dataCell">L</td><td class="dataCell">GB</td>
			{% elseif currentSport === "NBA" %}
				<td class="dataCell">W</td><td class="dataCell">L</td><td class="dataCell">GB</td>
			{% elseif currentSport === "NFL" or currentSport === "NFL_PLAYOFFS" or currentSport === "NHL_WILDCARD" %}
				<td class="dataCell">W</td><td class="dataCell">L</td><td class="dataCell">T</td>
			{% elseif currentSport === "MLS" %}
				<td class="dataCell">W</td><td class="dataCell">T</td><td class="dataCell">L</td><td class="dataCell bold">PTS</td>
			{% elseif currentSport === "NCAAF" %}
				<td class="dataCell">Conf</td><td class="dataCell">Overall</td>
			{% elseif currentSport === "NCAAM" or currentSport === "NCAAW" %}
				<td class="dataCell">Conf</td><td class="dataCell">Overall</td>
			{% elseif "Rugby" in currentSport %}
				<td class="dataCell">W</td><td class="dataCell">D</td><td class="dataCell">L</td><td class="dataCell bold">PTS</td>
			{% elseif currentSport === "F1" %}
				<td class="dataCell">Rank</td><td class="dataCell bold">Points</td>
			{% else %}
				<td class="dataCell">W</td><td class="dataCell">T</td><td class="dataCell">L</td><td class="dataCell bold">PTS</td>
			{% endif %}
			</tr>
			{% for tm in division.standings.entries %}
				<tr>
					{% if config.showLogos === true %}
						<td class="logo" align="center" valign="middle"><img src="{{tm.team.logos[0].href}}" {% if config.colored === false %}class="grayscale"{% endif %}/></td>
						<td class="nameCell">
					{% else %}
						<td></td>
						<td class="nameCell nameCellNoLogo">
					{% endif %}
					{% if ("_WILDCARD" in currentSport or "_PLAYOFFS" in currentSport or 
					(currentSport === "NBA" and "Conference" in currentDivision) or 
					(currentSport === "NHL" and "Division" in currentDivision) or 
					(currentSport === "MLS" and "Conference" in currentDivision) or
					(currentSport === "NWSL")
					)
					and loop.index <= config.playoffFieldSize[currentSport] %}
					<div class="rank">{{loop.index}}</div>{% elseif (currentSport === "NBA" and "Conference" in currentDivision) and loop.index <= config.playoffFieldSize["NBA_PLAYIN"]%}<div class="rank grayscale">{{loop.index}}</div>
					{% endif %}
					{% if config.nameStyle === "full" %}
						{{tm.team.displayName}}</td>
					{% elseif config.nameStyle === "abbreviation" %}
						{{tm.team.abbreviation}}</td>
					{% else %}
						{{tm.team.shortDisplayName}}</td>
					{% endif %}
					{% for stat in tm.stats %}
						{% if stat.name === "points" %}
							<td class="dataCell bold">{{stat.value}}</td>
						{% else %}
							<td class="dataCell">{{stat.value}}</td>
						{% endif %}
					{% endfor %}
				</tr>
			{% endfor %}
		{% endif %}
		{% endif %}
	{% endfor %}
	</table>
	{% if somethingToDisplay === 0 %}
		<div class="dimmed light small">
			MMM-MyStandings Error:<br>"{{currentSport}}" - "{{currentDivision}}"<br>not a valid division.<br>Check your config file.
		</div>
	{% endif %}
{% else %}
	<div class="dimmed light small">
		{{ "Loading MyStandings..." | translate | safe }}
	</div>
{% endif %}
